@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.read_more {
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
  display: block;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  margin: 30px 0px 0px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.read_more:hover {
  background-image: none;
  background-color: rgb(33, 142, 227);
}

footer {
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid_wrapper {
  margin: 10px 100px;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(4, 1fr);
  grid-row: repeat(2, 500px);
  grid-gap: 40px;
  padding: 10px 200px;
  grid-template-areas:
    'ma ma la pr'
    'ma ma xp pe';
}

header {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: linear-gradient(
      250deg,
      rgba(130, 201, 30, 0) 0%,
      #062343 70%
    ),
    url(../img/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-color: #062343;
  background-size: cover;
  background-position: center;
}

header > h1 {
  position: absolute;
  color: white;
  margin-left: 20px;
  z-index: 1;
  width: 30%;
  font-family: 'Tilt Warp', cursive;
  font-weight: 500;
}

#main-text {
  grid-area: ma;
}

#languages {
  grid-area: la;
}

#projects {
  grid-area: pr;
}

#experince {
  grid-area: xp;
}

#preformance {
  grid-area: pe;
}

.grid_wrapper > div > img {
  padding: 5px;
  margin: 5px 0px;
  width: 48px;
  height: 48px;
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
  border-radius: 10px;
  color: white;
}

h1 {
  text-align: center;
}

h1 > em {
  font-style: normal;
  background: linear-gradient(to right, rgb(252, 72, 72), rgb(255, 157, 0));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grid_wrapper,
p {
  color: gray;
  font-size: 17px;
}

.transiton {
  display: block;
  height: 50px;
  background: linear-gradient(#062343 10%, white 70%);
}

.grid_wrapper,
h2 {
  color: black;
  font-size: 35px;
  margin: 10px 0px;
}

.grid_wrapper,
h3 {
  color: black;
  font-size: 25px;
  margin: 5px 0px;
}

nav {
  padding: 10px 100px;
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 20vh;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.language_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
}

.language_list > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px min(200px, 10%);
}

#python > #external {
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
}

#python > #external:hover {
  background-image: none;
  background-color: rgb(33, 142, 227);
}

#ruby > #external {
  background-image: linear-gradient(
    to bottom right,
    rgb(239, 69, 69),
    rgb(232, 98, 71)
  );
}

#ruby > #external:hover {
  background-image: none;
  background-color: rgb(239, 69, 69);
}

#elixir > #external {
  background-image: linear-gradient(
    to bottom right,
    rgb(182, 61, 239),
    rgb(242, 72, 254)
  );
}

#elixir > #external:hover {
  background-image: none;
  background-color: rgb(182, 61, 239);
}

#ruby > #internal {
  background-color: rgb(237, 160, 160);
}

#python > #internal {
  background-color: lightblue;
}

#elixir > #internal {
  background-color: rgb(245, 157, 245);
}

.language_list > div > #external {
  background-image: linear-gradient(
    to bottom right,
    rgb(33, 142, 227),
    rgb(37, 187, 213)
  );
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
}

.language_list > div > #external:hover {
  color: white;
  background-image: none;
  background-color: rgb(33, 142, 227);
  cursor: pointer;
}

.language_list > div.open > #internal {
  color: black;
  /*background-image: linear-gradient(to bottom right, rgb(33,142,227), rgb(37, 187, 213));*/
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: grid;
  height: auto;
}

.language_list > div > #internal {
  display: none;
  height: 0;
  padding: 0px 10px;
  color: black;
  background-color: lightblue;
  border-radius: 10px;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-areas: 'text projects';
}

.language_list > div > #external > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 10px;
  padding: 10px;
  align-items: center;
  width: 190px;
}

.language_list > div > div > img {
  transform: rotate(90deg);
  margin: 0px 10px;
  transition: 0.15s;
  width: 30px;
  height: 30px;
}

.language_list > .open > div > img {
  transform: rotate(0deg);
}

.language_list > div > div > .language {
  width: 50px;
  height: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px min(200px, 10%);
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px min(200px, 10%);
  text-align: center;
}

.container {
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.child {
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
}

.react {
  background-color: rgb(33, 142, 227);
}

.representer {
  background-color: rgb(211, 20, 20);
}

.something {
  background-color: rgb(97, 28, 181);
}

.react > div,
.something > div,
.representer > div {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  background-color: grey;
  box-shadow: #131313 0px 0px 50px 15px;
}

.grid_wrapper_2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 60% 40%;
  grid-template-areas:
    'pic pic lan'
    'txt txt fam';
  gap: 10px;
  margin: 10px min(200px, 5%);
  text-align: center;
}

.grid_wrapper_2 > .img {
  justify-content: center;
  grid-area: pic;
  margin: 10px;
}

.grid_wrapper_2 > .img > img {
  height: 90%;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0px 0px 40px 9px;
}

.grid_wrapper_2 > div {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.grid_wrapper_2 > .languages {
  flex-direction: column;
  justify-content: space-around;
  grid-area: lan;
  background-color: rgb(109, 109, 109);
  margin: 10px 10px 0px 0px;
}

.grid_wrapper_2 > .frameworks {
  flex-direction: column;
  justify-content: space-around;
  grid-area: fam;
  background-color: rgb(109, 109, 109);
  margin: 0px 10px 20px 0px;
}

.grid_wrapper_2 > .text {
  flex-direction: column;
  justify-content: space-around;
  grid-area: txt;
  background-color: rgb(109, 109, 109);
  margin: 0px 0px 20px 10px;
}

.languages > img {
  width: 100px;
  border-radius: 10px;
}

.grid_wrapper_3 {
  padding: 10px min(300px, 10%);
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px min(200px, 5%);
  text-align: left;
}

.grid_wrapper_3 > div {
  width: 50%;
}

.grid_wrapper_3 > div > h1 {
  color: black;
  font-size: 2.4rem;
  text-align: left;
}

.grid_wrapper_3 > div > h2 {
  color: grey;
  font-size: 1.3rem;
}

.grid_wrapper_3 > div > p {
  color: black;
  line-height: 22px;
}

.grid_wrapper_3 > div > img {
  width: 100%;
}

#project {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 50px min(150px, 6%);
  text-align: center;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  box-shadow: #000 0px 0px 30px 8px;
}

#project > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project > div > img {
  width: 100%;
  border-radius: 12px;
}

h2 > em {
  font-style: normal;
  background: linear-gradient(to right, rgb(255, 0, 200), rgb(0, 47, 255));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#project > div > h2 {
  font-family: 'Tilt Warp', cursive;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .grid_wrapper_2 > .img > img {
    width: 100%;
  }
  .grid_wrapper_2 {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
  }

  .container {
    overflow-y: unset;
    height: fit-content;
  }

  .grid_wrapper_2 > .languages {
    height: 100%;
    margin: 10px;
  }

  .grid_wrapper_2 > .frameworks {
    height: 100%;
    margin: 10px;
  }

  .grid_wrapper_2 > .text {
    height: 100%;
    margin: 10px;
  }

  .child {
    height: 150%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: flex-end;
    padding: 10px 20px;
  }
  ul {
    list-style-type: none;
    display: none;
    gap: 0px;
    flex-direction: column;
    position: absolute;
    align-content: space-around;
    justify-content: space-around;
    right: 0px;
    text-align: center;
    top: 60px;
    height: 80vh;
    background-color: rgb(33, 142, 227);
    width: 100%;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 40px;
  }

  .hamburger span {
    background: #000;
    display: block;
    height: 4px;
    margin: 6px 0;
    width: 40px;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  .menu.open {
    left: 0;
  }

  .meny.open {
    display: flex;
  }

  .grid_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .language_list > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px min(10px, 6%);
  }

  .grid_wrapper_3 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }

  .grid_wrapper_3 > div {
    width: 100%;
  }

  #project {
    flex-direction: column;
    margin: 50px 20px;
  }
  #project > div {
    width: 100%;
  }
}
