*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    background-image: linear-gradient(to bottom right, rgb(33,142,227), rgb(37, 187, 213));
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    margin: 30px 0px 30px;
    cursor: pointer;
    color: white;
}

.grid_wrapper {
    margin: 10px 100px;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(2, 500px);
    grid-gap: 40px;
    padding: 10px;
    grid-template-areas: "ma ma la pr"
                        "ma ma xp pe";
}

#main-text {
    grid-area: ma;
}

#languages {
    grid-area: la;
}

#projects {
    grid-area: pr;
}

#experince {
    grid-area: xp;
}

#preformance {
    grid-area: pe;
}

#grid_wrapper, img {
    padding: 5px;
    margin: 5px 0px;
    width: 48px;
    height: 48px;
    background-image: linear-gradient(to bottom right, rgb(33,142,227), rgb(37, 187, 213));
    border-radius: 10px;
    color: white;
}

#grid_wrapper, p {
    color: gray;
    font-size: 17px;
}

#grid_wrapper, h2 {
    color: black;
    font-size: 35px;
    margin: 10px 0px;
}

#grid_wrapper, h3 {
    color: black;
    font-size: 25px;
    margin: 5px 0px;
}

nav {
    padding: 10px 100px;
    background-image: linear-gradient(to bottom right, rgb(33,142,227), rgb(37, 187, 213));
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20vh;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

  @media screen and (max-width: 600px) {
    nav {
        justify-content: flex-end;
        padding: 10px 20px;
    }
    ul {
        list-style-type: none;
        display: none;
        gap: 0px;
        text-decoration: none;
        flex-direction: column;
        position: absolute;
        align-content: space-around;
        justify-content: space-around;
        right: 0px;
        text-align: center;
        top: 60px;
        height: 100vh;
        background-color: rgb(33,142,227);
        width: 100%;
        transition: all 0.3s ease;

    }

    .hamburger {
        cursor: pointer;
        display: block;
        height: 40px;
        width: 40px;
    }
    
      .hamburger span {
        background: #000;
        display: block;
        height: 4px;
        margin: 6px 0;
        width: 40px;
      }
    
    
      .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
      }
      
      .hamburger.open span:nth-child(2) {
        opacity: 0;
      }
      
      .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
      .menu.open {
        left: 0;
      }
    
    .meny.open {
        display: flex;
    }
}